source https://www.nuget.org/api/v2/

nuget FAKE
nuget Nuget.CommandLine
nuget FsCheck 2.0.3 framework: >= net452
nuget FsCheck.Xunit 2.0.3 framework: >= net452
nuget xunit 1.9.2 framework: >= net452
nuget xunit.runners 1.9.2