source https://www.nuget.org/api/v2/

nuget FAKE
nuget FSharp.Formatting
nuget Nuget.CommandLine
nuget FsCheck
nuget FsCheck.Xunit
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio